/*
 * -------------------------------------------------
 *  Chip-seq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'Chip-seq'
  author = 'V. Laroche, N. Servant'
  homePage = 'https://gitlab.com/data-analysis/chipseq'
  description = 'Nextflow pipeline for ChIP-seq data analysis'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0.0'
}

// Global default params, used in configs
params {
  container = ''
  help = false 

  // Workflow flags
  name = false
  genome = false
  reads = null
  samplePlan = null
  design = false
  spike = false
  outdir = './results'
  singleEnd = false
  inputBam = false
  bamPaths = false 

  // default options
  tracedir = "${params.outdir}/pipeline_info"
  email = false
  plaintext_email = false
  queue = false

  // more options
  multiqcConfig = "$baseDir/assets/multiqc_config.yaml"
  outputDoc = "$baseDir/docs/output.md"
  metadata = "$baseDir/assets/metadata.tsv"

  // alignment
  aligner = 'bwa-mem'
  saveAlignedIntermediates = false

  // filtering
  keepDups = false
  mapQ = false

  // preseq
  preseq_defect = false

  // peak calling
  broad_cutoff = 0.1

  // IDR
  replicates = false

  // FeatureCounts
  tssSize = 2000

  // Spike-in
  spikes = false        

  //skips
  skipMultiqc = false
  skipFastqc = false
  skipAlignment = false
  skipPreseq = false
  skipFiltering = false
  skipPPQT = false
  skipDeepTools = false
  skipPeakCalling = false
  skipPeakAnno = false
  skipPeakQC = false
  skipIDR = false
  skipFeatCounts = false
  skipMultiQC = false
}

/*
 * Configs and profiles
 */

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/geniac.config'
includeConfig 'conf/genomes.config'

// Profiles

profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker { 
    includeConfig 'conf/docker.config'
  }
  singularity { 
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  standard {
    includeConfig 'conf/standard.config'
  }
  test {
    includeConfig 'conf/test.config'
  }
}

