/*
 * -------------------------------------------------
 *  Chip-seq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'ChIP-seq'
  author = 'V. Laroche, P. La Rosa, N. Servant'
  homePage = 'https://gitlab.com/data-analysis/chipseq'
  description = 'Nextflow pipeline for ChIP-seq data analysis'
  mainScript = 'main.nf'
  nextflowVersion = '>=21.10.06'
  version = '2.0.0dev'
  doi = '10.5281/zenodo.7538960'
}

/*
 * Params
 */

params {

  email = false
  help = false 
  name = false

  // Workflow flags
  genome = false
  reads = null
  readPaths = null
  samplePlan = null
  design = false
  spike = false
  spikeFasta = false
  singleEnd = false
  inputBam = false
  bam = false 
  saveIntermediates = false
 
  // default options
  multiqcConfig = "$projectDir/assets/multiqcConfig.yaml"
  metadata = "$projectDir/assets/metadata.tsv"

  // Output directories
  outDir = './results'
  summaryDir = "${params.outDir}/summary"

  // trimming
  trimming = false
  trimmingOpts = "--trim-n --length 20"

  // fastq
  fragmentSize = 200

  // alignment
  aligner = 'bwa-mem'
  bowtie2Opts = '--very-sensitive --end-to-end --reorder'
  bwaOpts = '-M'
  starOpts = ''
 
  // samtools
  sortMaxMemory = "900M"

  // filtering
  keepDups = false
  keepSingleton = false
  mapq = 10

  //bigwig
  noReadExtension = false

  // preseq
  preseqDefect = false

  // peak calling
  macs2Opts = "--SPMR --trackline --bdg --keep-dup all"
  broadCutoff = 0.1
  epic2Opts = "-a --bin-size 200 --gaps-allowed 3 --false-discovery-rate-cutoff 0.05"

  // FeatureCounts
  tssSize = 2000

  // Spike-in
  spikes = false
  spikePercentFilter = 0.2

  //skips
  skipMultiqc = false
  skipFastqc = false
  skipSaturation = false
  skipFiltering = false
  skipPPQT = false
  skipDeepTools = false
  skipPeakCalling = false
  skipPeakAnno = false
  skipPeakQC = false
  skipIDR = false
  skipFeatCounts = false
  skipMultiQC = false

}

/*
 * Configs and profiles
 */

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker { 
    includeConfig 'conf/docker.config'
  }
  singularity { 
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test {
    includeConfig 'conf/test.config'
  }
}

// Load annotation
includeConfig 'conf/genomes.config'  

// Modules config
includeConfig 'conf/modules.config'
