/*
 * -------------------------------------------------
 *  Chip-seq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'Chip-seq'
  author = 'V. Laroche, N. Servant'
  homePage = 'https://gitlab.com/data-analysis/chipseq'
  description = 'Nextflow pipeline for ChIP-seq data analysis'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0.0'
}

// Global default params, used in configs
params {
  container = ''
  help = false 

  // Workflow flags
  name = false
  genome = false
  reads = null
  samplePlan = null
  design = false
  spike = false
  outdir = './results'
  singleEnd = false
  inputBam = false
  bamPaths = false 

  // default options
  tracedir = "${params.outdir}/pipeline_info"
  email = false
  plaintext_email = false
  queue = false

  // more options
  multiqcConfig = "$baseDir/assets/multiqc_config.yaml"
  outputDoc = "$baseDir/docs/output.md"
  metadata = "$baseDir/assets/metadata.tsv"
  //bamtoolsFilterPEConfig = "$baseDir/assets/bamtools_filter_pe.json"
  //bamtoolsFilterSEConfig = "$baseDir/assets/bamtools_filter_se.json"

  // alignment
  aligner = 'bwa-mem'
  saveAlignedIntermediates = false

  // filtering
  keepDups = false
  mapQ = false

  // preseq
  preseq_defect = false

  // peak calling
  //noInput = false
  broad_cutoff = 0.1

  // IDR
  replicates = false

  // FeatureCounts
  tssSize = 2000

  //skips
  skipMultiqc = false
  skipFastqc = false
  skipAlignment = false
  skipPreseq = false
  skipFiltering = false
  skipPPQT = false
  skipDeepTools = false
  skipPeakCalling = false
  skipPeakAnno = false
  skipPeakQC = false
  skipIDR = false
  skipFeatCounts = false
  skipMultiQC = false

  // Spike-in
  spikes = false
}

/*
 * Configs and profiles
 */

// Additional configs
includeConfig 'conf/base.config'
includeConfig 'conf/genomes.config'

// Profiles
profiles {
  conda {
    process.conda = "$baseDir/environment.yml"
  }
  docker {
    docker.enabled = true
    includeConfig 'conf/containers.config'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    includeConfig 'conf/containers.config'
  }
  toolsPath {
    includeConfig 'conf/tools-path.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test {
    includeConfig 'conf/test.config'
  }
  full {
    includeConfig 'conf/test_full.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Metrics files
timeline {
  enabled = true
  file = "${params.tracedir}/timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/DAG.png"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
       return obj
      } catch (all) {
    println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
    return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}


