params {

  // notifications
  email = false

  // cluster
  queue = null

  // genome annotations
  genomeAnnotationPath = ""
  
  // output directories
  outputDir = './results'
  summaryDir = "${params.outputDir}/summary"

  // conda
  condaCacheDir = "/tmp/conda-cache-nextflow"

  // singularity
  singularityImagePath = ""
  singularityRunOptions =  ""

  // Docker
  dockerRunOptions = ""

  // path profile
  profilePath = ""

}