/*
 * Default for environment options
 */

params {

  // cluster
  queue = null

  // genome annotations
  genomeAnnotationPath = ""

  // Limit max resources
  //maxCpus = 2
  //maxMemory = 16.GB
  //maxTime = 48.h

  // conda
  condaCacheDir = "$HOME/conda-cache-nextflow"

  // Singularity image path
  singularityImagePath = ""

  // Global path used for path or multipath profiles
  globalPath = ""

  // Option to bind specific folders on the command line
  // with nextflow run when using the singularity profile
  containers {
    specificBinds = params.containers.specificBinds ?: ','
  }

}
