params {

  // notifications
  email = false

  // cluster
  queue = null

  // genome annotations
  genomeAnnotationPath = ""

  // Default ressources
  maxCpus = 2
  maxMemory = 16.GB
  maxTime = 48.h
  
  // output directories
  outputDir = './results'
  summaryDir = "${params.outputDir}/summary"

  // conda
  condaCacheDir = "/tmp/conda-cache-nextflow"

  containers {
    // singularity
    singularityImagePath = ""
    singularityRunOptions =  ""

    // path profile
    beforescriptPath = ""
  }
}