includeConfig 'process.config'

conda { 
  cacheDir = "${params.condaCacheDir}" 
}

process {
    withLabel:fastqc { conda = "${baseDir}/environment.yml" }
    withLabel:bwa { conda = "${baseDir}/environment.yml" }
    withLabel:bowtie2 { conda = "${baseDir}/environment.yml" } 
    withLabel:star { conda = "${baseDir}/environment.yml" } 
    withLabel:samtools { conda = "${baseDir}/environment.yml" } 
    withLabel:picard { conda = "${baseDir}/environment.yml" } 
    withLabel:preseq { conda = "${baseDir}/environment.yml" } 
    withLabel:r { conda = "${baseDir}/environment.yml" } 
    withLabel:deeptools { conda = "${baseDir}/environment.yml" } 
    withLabel:macs2 { conda = "${baseDir}/environment.yml" } 
    withLabel:homer { conda = "${baseDir}/environment.yml" } 
    withLabel:idr { conda = "${baseDir}/environment.yml" } 
    withLabel:featureCounts { conda = "${baseDir}/environment.yml" } 
    withLabel:multiqc { conda = "${baseDir}/environment.yml" } 
}