conda {
  cacheDir = "${params.condaCacheDir}"
  createTimeout = '1 h'
}

process {

  beforeScript = "export R_LIBS_USER=\"-\"; export R_PROFILE_USER=\"-\"; export R_ENVIRON_USER=\"-\"; export PYTHONNOUSERSITE=1; export PATH=$PATH:${projectDir}/bin/fromSource"

  withLabel:bowtie2{ conda = "${projectDir}/environment.yml" }
  withLabel:bwa{ conda = "${projectDir}/environment.yml" }
  withLabel:compbam{ conda = "${projectDir}/environment.yml" }
  withLabel:deeptools{ conda = "${projectDir}/environment.yml" }
  withLabel:epic2{ conda = "${projectDir}/environment.yml" }
  withLabel:fastqc{ conda = "${projectDir}/environment.yml" }
  withLabel:featureCounts{ conda = "${projectDir}/environment.yml" }
  withLabel:homer{ conda = "${projectDir}/environment.yml" }
  withLabel:idr{ conda = "${projectDir}/environment.yml" }
  withLabel:macs2{ conda = "${projectDir}/environment.yml" }
  withLabel:multiqc{ conda = "${projectDir}/environment.yml" }
  withLabel:picard{ conda = "${projectDir}/environment.yml" }
  withLabel:ppqt{ conda = "${projectDir}/environment.yml" }
  withLabel:preseq{ conda = "${projectDir}/environment.yml" }
  withLabel:python{ conda = "${projectDir}/environment.yml" }
  withLabel:r{ conda = "${projectDir}/environment.yml" }
  withLabel:samtools{ conda = "${projectDir}/environment.yml" }
  withLabel:star{ conda = "${projectDir}/environment.yml" }
  withLabel:unix{ conda = "${projectDir}/environment.yml" }
}
