docker {
  enabled = true
  runOptions = "${params.geniac.containers.dockerRunOptions}"
}

process {
  withLabel:onlyLinux { container = "onlylinux" }
  withLabel:compbam { container = "compbam" }
  withLabel:fastqc { container = "fastqc" }
  withLabel:preseq { container = "preseq" }
  withLabel:picard { container = "picard" }
  withLabel:samtools { container = "samtools" }
  withLabel:bwa { container = "bwa" }
  withLabel:bowtie2 { container = "bowtie2" }
  withLabel:star { container = "star" }
  withLabel:ppqt { container = "ppqt" }
  withLabel:r { container = "r" }
  withLabel:macs2 { container = "macs2" }
  withLabel:deeptools { container = "deeptools" }
  withLabel:multiqc { container = "multiqc" }
  withLabel:unix { container = "unix" }
  withLabel:featureCounts { container = "featurecounts" }
  withLabel:idr { container = "idr" }
  withLabel:epic2 { container = "epic2" }
  withLabel:homer { container = "homer" }
  withLabel:python { container = "python" }
}
