docker {
  enabled = true
  runOptions = "${params.geniac.containers?.dockerRunOptions}"
}

process {
  withLabel:bowtie2{ container = "bowtie2" }
  withLabel:bwa{ container = "bwa" }
  withLabel:compbam{ container = "compbam" }
  withLabel:deeptools{ container = "deeptools" }
  withLabel:epic2{ container = "epic2" }
  withLabel:fastqc{ container = "fastqc" }
  withLabel:featureCounts{ container = "featurecounts" }
  withLabel:homer{ container = "homer" }
  withLabel:idr{ container = "idr" }
  withLabel:macs2{ container = "macs2" }
  withLabel:multiqc{ container = "multiqc" }
  withLabel:onlyLinux{ container = "onlylinux" }
  withLabel:picard{ container = "picard" }
  withLabel:ppqt{ container = "ppqt" }
  withLabel:preseq{ container = "preseq" }
  withLabel:python{ container = "python" }
  withLabel:r{ container = "r" }
  withLabel:samtools{ container = "samtools" }
  withLabel:star{ container = "star" }
  withLabel:unix{ container = "unix" }
}
