docker {
    enabled = true
    runOptions = "${params.dockerRunOptions}"
}

process {
  withLabel:python { container = "python" }
  withLabel:fastqc { container = "fastqc" }
  withLabel:bwa { container = "bwa" }
  withLabel:bowtie2 { container = "bowtie2" } 
  withLabel:star { container = "star" } 
  withLabel:compbam { container = "compbam" }
  withLabel:samtools { container = "samtools" } 
  withLabel:picard { container = "picard" } 
  withLabel:preseq { container = "preseq" } 
  withLabel:r { container = "chipseqr" } 
  withLabel:deeptools { container = "deeptools" } 
  withLabel:macs2 { container = "macs2" } 
  withLabel:homer { container = "homer" } 
  withLabel:idr { container = "idr" } 
  withLabel:featureCounts { container = "featureCounts" } 
  withLabel:unix { container = "unix" }
  withLabel:multiqc { container = "multiqc" } 
}