/******************************
 * Define geniac configuration
 */

params {

  genomeAnnotationPath = params.genomeAnnotationPath ?: "${baseDir}/../annotations"

  geniac {
    tools {
      // Add your tools available in conda here, for example:
      fastqc = "${baseDir}/recipes/conda/fastqc.yml"
      bwa = "${baseDir}/recipes/conda/bwa.yml"
      bowtie2 = "${baseDir}/recipes/conda/bowtie2.yml"
      star = "${baseDir}/recipes/conda/star.yml"
      compbam = "${baseDir}/recipes/conda/compbam.yml"
      samtools = "${baseDir}/recipes/conda/samtools.yml"
      picard = "${baseDir}/recipes/conda/picard.yml"
      preseq = "${baseDir}/recipes/conda/preseq.yml"
      r = "${baseDir}/recipes/conda/r.yml"
      ppqt = "${baseDir}/recipes/conda/ppqt.yml"
      deeptools = "${baseDir}/recipes/conda/deeptools.yml"
      macs2 = "${baseDir}/recipes/conda/macs2.yml"
      homer = "${baseDir}/recipes/conda/homer.yml"
      idr = "${baseDir}/recipes/conda/idr.yml"
      featureCounts = "${baseDir}/recipes/conda/featureCounts.yml"
      unix = "${baseDir}/recipes/conda/unix.yml"
      multiqc = "${baseDir}/recipes/conda/multiqc.yml"
      python = "${baseDir}/recipes/conda/python.yml"
    }
  
    // options for singularity and docker containers
    containers {
      singularityImagePath = params.singularityImagePath ?: "${baseDir}/../containers/singularity"
      singularityRunOptions = params.singularityRunOptions ?: ""
      dockerRunOptions = params.dockerRunOptions ?: ""
      globalPath = params.globalPath ?: "${baseDir}/../path"
  
      // containers are based on CentOS linux
      // some tools require dependencies to be installed with 'yum install'
      // specific dependencies are listed below
      // yum { }
      // git { }
    }
  }
}
