/******************************
 * Define geniac configuration
 */

params {

  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"
  tmpDir = params.tmpDir ?: './'
  outDir = params.outDir ?: './'

  geniac {

    // Path to the tools
    path = params.globalPath ?: "${projectDir}/../path/bin"
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      fastqc = "${projectDir}/recipes/conda/fastqc.yml"
      trimgalore = "${projectDir}/recipes/conda/trimgalore.yml"
      bwa = "${projectDir}/recipes/conda/bwa.yml"
      bowtie2 = "${projectDir}/recipes/conda/bowtie2.yml"
      star = "${projectDir}/recipes/conda/star.yml"
      compbam = "${projectDir}/recipes/conda/compbam.yml"
      samtools = "${projectDir}/recipes/conda/samtools.yml"
      picard = "${projectDir}/recipes/conda/picard.yml"
      preseq = "${projectDir}/recipes/conda/preseq.yml"
      r = "${projectDir}/recipes/conda/r.yml"
      ppqt = "${projectDir}/recipes/conda/ppqt.yml"
      deeptools = "${projectDir}/recipes/conda/deeptools.yml"
      macs2 = "${projectDir}/recipes/conda/macs2.yml"
      epic2 = "${projectDir}/recipes/conda/epic2.yml"
      homer = "${projectDir}/recipes/conda/homer.yml"
      idr = "${projectDir}/recipes/conda/idr.yml"
      featurecounts = "${projectDir}/recipes/conda/featurecounts.yml"
      unix = "${projectDir}/recipes/conda/unix.yml"
      multiqc = "${projectDir}/recipes/conda/multiqc.yml"
      python = "${projectDir}/recipes/conda/python.yml"
    }
  
    // options for singularity and docker containers
    containers {

        singularityRunOptions = params.containers.specificBinds ? "-B \"${params.tmpDir}\" -B \"\$TMPDIR\" -B \"${projectDir}\" -B \"${params.genomeAnnotationPath}\" -B \"${params.outDir}\" --containall --bind ${params.containers.specificBinds}" : "-B \"${params.tmpDir}\" -B \"\$TMPDIR\" -B \"${projectDir}\" -B \"${params.genomeAnnotationPath}\" -B \"${params.outDir}\" --containall"


       dockerRunOptions = "-v \"\$PWD\":/tmp"
      
      // containers are based on CentOS linux
      // some tools require dependencies to be installed with 'yum install'
      // specific dependencies are listed below
      // yum { }
      // git { }
    }
  }
}
