/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {
  //Set path to annoation folder
  genomes_base = "/data/annotations/pipelines"

  genomes {
    'hg19' {
      fasta	    = "${params.genomes_base}/Human/hg19/genome/hg19.fa"
      bwaIndex      = "${params.genomes_base}/Human/hg19/indexes/bwa/hg19"
      bowtie2Index  = "${params.genomes_base}/Human/hg19/indexes/bowtie2/hg19"
      starIndex     = "${params.genomes_base}/Human/hg19/indexes/STAR"
      geneBed       = "${params.genomes_base}/Human/hg19/gtf/parseGTFAnnotation/gencode.v19.annotation_gene.bed"
      gtf           = "${params.genomes_base}/Human/hg19/gtf/gencode.v19.annotation.gtf"
      effGenomeSize = "2864785220"
      blacklist     = "${params.genomes_base}/Human/hg19/ENCODE/ENCFF001TDO_merged.bed"
     }

    'hg19_spike' {
      fasta         = "/data/tmp/vlaroche/hg19_dmelr6.21/genome/hg19dmelr6.21.fa"
      bwaIndex	    = "/data/tmp/vlaroche/hg19_dmelr6.21/indexes/bwa/hg19_dmelr6.21_metagenome"
      starIndex	    = "/data/tmp/vlaroche/hg19_dmelr6.21/indexes/star"
      bowtie2Index  = "/data/tmp/vlaroche/hg19_dmelr6.21/indexes/bowtie2/hg19_dmelr6.21"
      geneBed	    = "/data/tmp/vlaroche/hg19_dmelr6.21/gtf/hg19_dmelr6.21.bed"
      gtf           = "/data/tmp/vlaroche/hg19_dmelr6.21/gtf/hg19_dmelr6.21.gtf"
      effGenomeSize = "2.7e9"
    }

    'hg38' {
      fasta         = "${params.genomes_base}/Human/hg38/genome/hg38.fa"
      bwaIndex      = "${params.genomes_base}/Human/hg38/indexes/bwa/hg38"
      starIndex     = "${params.genomes_base}/Human/hg38/indexes/STAR/"
      bowtie2Index  = "${params.genomes_base}/Human/hg38/indexes/bowtie2/hg38"	
      geneBed       = "${params.genomes_base}/Human/hg38/gtf/parseGTFAnnotation/gencode.v29.annotation_gene.bed"
      gtf           = "${params.genomes_base}/Human/hg38/gtf/gencode.v29.annotation.gtf"
      effGenomeSize = "2913022398"
      blacklist     = "${params.genomes_base}/Human/hg38/ENCODE/ENCFF356LFX_merged.bed"
    }
		
    'mm10' {
      fasta         = "${params.genomes_base}/Mouse/mm10/genome/mm10.fa"
      bwaIndex      = "${params.genomes_base}/Mouse/mm10/indexes/bwa/mm10"
      bowtie2Index  = "${params.genomes_base}/Mouse/mm10/indexes/bowtie2/mm10"
      starIndex     = "${params.genomes_base}/Mouse/mm10/indexes/STAR"
      geneBed       = "${params.genomes_base}/Mouse/mm10/gtf/parseGTFAnnotation/gencode.vM13.annotation_gene.bed"
      gtf           = "${params.genomes_base}/Mouse/mm10/gtf/gencode.vM13.annotation.gtf"
      effGenomeSize = "2652783500"
      blacklist     = "${baseDir}/Mouse/mm10/ENCODE/ENCFF547MET_merged.bed"
    }

    'mm9' {
      fasta         = "${params.genomes_base}/Mouse/mm9/genome/mm9.fa"
      bwaIndex      = "${params.genomes_base}/Mouse/mm9/indexes/bwa/mm9"
      starIndex     = "${params.genomes_base}/Mouse/mm9/indexes/STAR/"
      bowtie2Index  = "${params.genomes_base}/Mouse/mm9/indexes/bowtie2/mm9"
      geneBed       = "${params.genomes_base}/Mouse/mm9/gtf/parseGTFAnnotation/gencode.vM1.annotation_gene.bed"
      gtf           = "${params.genomes_base}/Mouse/mm9/gtf/gencode.vM1.annotation.gtf"
      effGenomeSize = "2620345972"
    }

    'dmelr6' {
      fasta	    = "${params.genomes_base}/Drosophila_melanogaster/dmel_r6.21_FB2018_02/genome/dmel-all-chromosome-r6.21.fasta"
      bwaIndex      = "${params.genomes_base}/Drosophila_melanogaster/dmel_r6.21_FB2018_02/indexes/bwa/dmel-all-chromosome-r6.21"
      bowtie2Index  = "${params.genomes_base}/Drosophila_melanogaster/dmel_r6.21_FB2018_02/indexes/bowtie2/dmel-all-chromosome-r6.21"
      starIndex     = "${params.genomes_base}/Drosophila_melanogaster/dmel_r6.21_FB2018_02/indexes/STAR"
      geneBed       = "${params.genomes_base}/Drosophila_melanogaster/dmel_r6.21_FB2018_02/gtf/parseGTFAnnotation/dmel-all-r6.21_gene.bed"
      gtf           = "${params.genomes_base}/Drosophila_melanogaster/dmel_r6.21_FB2018_02/gtf/dmel-all-r6.21.gtf"
      effGenomeSize = "142573017"
    }

    'danRer10' {
      fasta         = "${params.genomes_base}/Zebrafish/danRer10/genome/danRer10.fa"
      bwaIndex      = "${params.genomes_base}/Zebrafish/danRer10/indexes/bwa/danRer10"
      starIndex     = "${params.genomes_base}/Zebrafish/danRer10/indexes/STAR/"
      bowtie2Index  = "${params.genomes_base}/Zebrafish/danRer10/indexes/bowtie2/danRer10"
      geneBed       = "${params.genomes_base}/Zebrafish/danRer10/gtf/parseGTFAnnotation/danRer10_UCSC_RefGene.geneBed"
      gtf           = "${params.genomes_base}/Zebrafish/danRer10/gtf/danRer10_UCSC_RefGene.gtf"
      effGenomeSize = "1369631918"
    }

    'danRer11' {
      fasta         = "${params.genomes_base}/Zebrafish/danRer11/genome/danRer11.fa"
      bwaIndex      = "${params.genomes_base}/Zebrafish/danRer11/indexes/bwa/danRer11"
      starIndex     = "${params.genomes_base}/Zebrafish/danRer11/indexes/STAR/"
      bowtie2Index  = "${params.genomes_base}/Zebrafish/danRer11/indexes/bowtie2/danRer11"
      geneBed       = "${params.genomes_base}/Zebrafish/danRer11/gtf/parseGTFAnnotation/danRer11_UCSC_RefGene_gene.bed"
      gtf           = "${params.genomes_base}/Zebrafish/danRer11/gtf/danRer11_UCSC_RefGene.gtf"
      effGenomeSize = ""
    }

    'TAIR10' {
      fasta         = "${params.genomes_base}/Arabidopsis_thaliana/TAIR10/genome/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa"
      bwaIndex      = "${params.genomes_base}/Arabidopsis_thaliana/TAIR10/bwa/Arabidopsis_thaliana.TAIR10.dna.toplevel"
      starIndex     = "${params.genomes_base}/Arabidopsis_thaliana/TAIR10/indexes/STAR/"
      bowtie2Index  = "${params.genomes_base}/Arabidopsis_thaliana/TAIR10/indexes/bowtie2/Arabidopsis_thaliana.TAIR10.dna.toplevel"
      geneBed       = "${params.genomes_base}/Arabidopsis_thaliana/TAIR10/gtf/parseGTFAnnotation/Arabidopsis_thaliana.TAIR10.39_gene.bed"
      gtf           = "${params.genomes_base}/Arabidopsis_thaliana/TAIR10/gtf/Arabidopsis_thaliana.TAIR10.39.gtf"
      effGenomeSize = "119481543"
    }

    'sacCer3' {
      fasta         = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer3/genome/sacCer3.fa"
      bwaIndex      = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer3/indexes/bwa/sacCer3"
      starIndex     = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer3/indexes/STAR/"
      bowtie2Index  = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer3/indexes/bowtie2/sacCer3"
      geneBed       = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer2/gtf/parseGTFAnnotation/sacCer3_ensembl_gene.bed"
      gtf           = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer3/gtf/sacCer3_ensembl.gtf"
      effGenomeSize = "1.2e7"
    }

    'sacCer2' {
      fasta         = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer2/genome/sacCer2.fa"
      bwaIndex      = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer2/indexes/bwa/sacCer2"
      starIndex     = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer2/indexes/STAR/"
      bowtie2Index  = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer2/indexes/bowtie2/sacCer2"
      geneBed       = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer2/gtf/parseGTFAnnotation/sacCer2_ensembl_gene.bed"
      gtf           = "${params.genomes_base}/Saccharomyces_cerevisiae/sacCer2/gtf/sacCer2_ensembl.gtf"
      effGenomeSize = ""
    }

    'S288c' {
      fasta         = "${params.genomes_base}/Saccharomyces_cerevisiae/S288c/genome/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa"
      bwaIndex      = "${params.genomes_base}/Saccharomyces_cerevisiae/S288c/indexes/bwa/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel"
      starIndex     = "${params.genomes_base}/Saccharomyces_cerevisiae/S288c/indexes/STAR/"
      bowtie2Index  = "${params.genomes_base}/Saccharomyces_cerevisiae/S288c/indexes/bowtie2/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel"
      geneBed       = "${params.genomes_base}/Saccharomyces_cerevisiae/S288c/gtf/parseGTFAnnotation/Saccharomyces_cerevisiae.R64-1-1.93_gene.bed"
      gtf           = "${params.genomes_base}/Saccharomyces_cerevisiae/S288c/gtf/Saccharomyces_cerevisiae.R64-1-1.93.gtf"
      effGenomeSize = ""
    }

    'bomo_v3' {
      fasta         = "${params.genomes_base}/Bombyx_mori/bomo_v3_base/genome/Bmori_v3_base.fasta"
      bwaIndex      = "${params.genomes_base}/Bombyx_mori/bomo_v3_base/indexes/bwa/Bmori_v3_base"
      starIndex     = "${params.genomes_base}/Bombyx_mori/bomo_v3_base/indexes/STAR/"
      bowtie2Index  = "${params.genomes_base}/Bombyx_mori/bomo_v3_base/indexes/bowtie2/Bmori_v3_base"
      geneBed       = ""
      gtf           = ""
      effGenomeSize = ""
    }
  }
}
