/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {

  genomes {
    'hg19' {
      fasta	    = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.fa"
      chrsize       = "${params.genomeAnnotationPath}/Human/hg19/genome/chrom_hg19.sizes"
      bwaIndex      = "${params.genomeAnnotationPath}/Human/hg19/indexes/bwa/hg19"
      bowtie2Index  = "${params.genomeAnnotationPath}/Human/hg19/indexes/bowtie2/hg19"
      starIndex     = "${params.genomeAnnotationPath}/Human/hg19/indexes/STAR_2.7.6a/"
      geneBed       = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.annotation_proteinCoding_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.annotation.gtf"
      effGenomeSize = "2864785220"
      blacklist     = "${params.genomeAnnotationPath}/Human/hg19/ENCODE/ENCFF001TDO_merged.bed"
     }

    'hg38' {
      fasta         = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa"
      chrsize       = "${params.genomeAnnotationPath}/Human/hg38/genome/chrom_hg38.sizes" 
      bwaIndex      = "${params.genomeAnnotationPath}/Human/hg38/indexes/bwa/hg38"
      bowtie2Index  = "${params.genomeAnnotationPath}/Human/hg38/indexes/bowtie2/hg38"
      starIndex     = "${params.genomeAnnotationPath}/Human/hg38/indexes/STAR_2.7.6a/"
      geneBed       = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.annotation_proteinCoding_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.annotation.gtf"
      effGenomeSize = "2913022398"
      blacklist     = "${params.genomeAnnotationPath}/Human/hg38/ENCODE/ENCFF356LFX_merged.bed"
    }
		
    'mm10' {
      fasta         = "${params.genomeAnnotationPath}/Mouse/mm10/genome/mm10.fa"
      chrsize       = "${params.genomeAnnotationPath}/Mouse/mm10/genome/chrom_mm10.sizes" 
      bwaIndex      = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/bwa/mm10"
      bowtie2Index  = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/bowtie2/mm10"
      starIndex     = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/STAR_2.7.6a/"
      geneBed       = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.annotation_proteinCoding_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.annotation.gtf"
      effGenomeSize = "2652783500"
      blacklist     = "${params.genomeAnnotationPath}/Mouse/mm10/ENCODE/ENCFF547MET_merged.bed"
    }

    'mm9' {
      fasta         = "${params.genomeAnnotationPath}/Mouse/mm9/genome/mm9.fa"
      chrsize       = "${params.genomeAnnotationPath}/Mouse/mm9/genome/chrom_mm9.sizes" 
      bwaIndex      = "${params.genomeAnnotationPath}/Mouse/mm9/indexes/bwa/mm9"
      starIndex     = "${params.genomeAnnotationPath}/Mouse/mm9/indexes/STAR_2.7.6a/"
      bowtie2Index  = "${params.genomeAnnotationPath}/Mouse/mm9/indexes/bowtie2/mm9"
      geneBed       = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/gencode.vM1.annotation_proteinCoding_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Mouse/mm9/gtf/gencode.vM1.annotation.gtf"
      effGenomeSize = "2620345972"
    }

    'dmelr6.21' {
      fasta	    = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/genome/dmel-all-chromosome-r6.21.fasta"
      chrsize       = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/genome/chrom_dmel_r6.21_FB2018_02.sizes"
      bwaIndex      = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/indexes/bwa/dmel-all-chromosome-r6.21"
      bowtie2Index  = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/indexes/bowtie2/dmel-all-chromosome-r6.21"
      starIndex     = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/indexes/STAR_2.7.6a/"
      geneBed       = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/gtf/dmel-all-r6.21_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.21/gtf/dmel-all-r6.21.gtf"
      effGenomeSize = "142573017"
    }

   'dmelr6.22' {
      fasta         = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/genome/dmelr6.22.fasta"
      chrsize       = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/genome/chrom_dmelr6.22.sizes"
      bwaIndex      = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/indexes/bwa/dmelr6.22"
      bowtie2Index  = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/indexes/bowtie2/dmelr6.22"
      starIndex     = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/indexes/STAR_2.7.6a/"
      geneBed       = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/gtf/dmel-all-r6.22_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.22/gtf/dmel-all-r6.22.gtf"
      effGenomeSize = "142573024"
    }

    'danRer10' {
      fasta         = "${params.genomeAnnotationPath}/Zebrafish/danRer10/genome/danRer10.fa"
      chrsize       = "${params.genomeAnnotationPath}/Zebrafish/danRer10/genome/chrom_danRer10.sizes"
      bwaIndex      = "${params.genomeAnnotationPath}/Zebrafish/danRer10/indexes/bwa/danRer10"
      starIndex     = "${params.genomeAnnotationPath}/Zebrafish/danRer10/indexes/STAR_2.7.6a/"
      bowtie2Index  = "${params.genomeAnnotationPath}/Zebrafish/danRer10/indexes/bowtie2/danRer10"
      geneBed       = "${params.genomeAnnotationPath}/Zebrafish/danRer10/gtf/danRer10.refGene_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Zebrafish/danRer10/gtf/danRer10.refGene.gtf"
      effGenomeSize = "1369631918"
    }

    'danRer11' {
      fasta         = "${params.genomeAnnotationPath}/Zebrafish/danRer11/genome/danRer11.fa"
      chrsize       = "${params.genomeAnnotationPath}/Zebrafish/danRer11/genome/chrom_danRer11.sizes"
      bwaIndex      = "${params.genomeAnnotationPath}/Zebrafish/danRer11/indexes/bwa/danRer11"
      starIndex     = "${params.genomeAnnotationPath}/Zebrafish/danRer11/indexes/STAR_2.7.6a/"
      bowtie2Index  = "${params.genomeAnnotationPath}/Zebrafish/danRer11/indexes/bowtie2/danRer11"
      geneBed       = "${params.genomeAnnotationPath}/Zebrafish/danRer11/gtf/danRer11.refGene_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Zebrafish/danRer11/gtf/danRer11.refGene.gtf"
      effGenomeSize = "1674509851"
    }

    'TAIR10' {
      fasta         = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/genome/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa"
      chrsize       = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/genome/chrom_TAIR10.sizes"
      bwaIndex      = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/bwa/Arabidopsis_thaliana.TAIR10.dna.toplevel"
      starIndex     = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/indexes/STAR_2.7.6a/"
      bowtie2Index  = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/indexes/bowtie2/Arabidopsis_thaliana.TAIR10.dna.toplevel"
      geneBed       = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/gtf/Arabidopsis_thaliana.TAIR10.48_proteinCoding_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Arabidopsis_thaliana/TAIR10/gtf/Arabidopsis_thaliana.TAIR10.48.gtf"
      effGenomeSize = "119481543"
    }

    'sacCer3' {
      fasta         = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/genome/sacCer3.fa"
      chrsize       = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/genome/chrom_sacCer3.sizes"
      bwaIndex      = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/indexes/bwa/sacCer3"
      starIndex     = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/indexes/STAR_2.7.6a/"
      bowtie2Index  = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/indexes/bowtie2/sacCer3"
      geneBed       = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/gtf/sacCer3.ensGene_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/gtf/sacCer3.ensGene.gtf"
      effGenomeSize = "12157105"
    }

    'sacCer2' {
      fasta         = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/genome/sacCer2.fa"
      chrsize       = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/genome/chrom_sacCer2.sizes" 
      bwaIndex      = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/indexes/bwa/sacCer2"
      starIndex     = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/indexes/STAR_2.7.6a/"
      bowtie2Index  = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/indexes/bowtie2/sacCer2"
      geneBed       = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/gtf/sacCer2.ensGene_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer2/gtf/sacCer2.ensGene.gtf"
      effGenomeSize = "12162995"
    }

    'S288c' {
      fasta         = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/genome/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa"
      chrsize       = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/genome/chrom_S288c.sizes"
      bwaIndex      = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/indexes/bwa/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel"
      starIndex     = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/indexes/STAR_2.7.6a/"
      bowtie2Index  = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/indexes/bowtie2/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel"
      geneBed       = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/gtf/Saccharomyces_cerevisiae.R64-1-1.93_proteinCoding_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/gtf/Saccharomyces_cerevisiae.R64-1-1.93.gtf"
      effGenomeSize = "12157105"
    }

    'smik' {
      fasta         = "${params.genomeAnnotationPath}/Saccharomyces_mikatae/smik/genome/sac_mikatae_ultrascaffolds.fasta"
      chrsize       = "${params.genomeAnnotationPath}/Saccharomyces_mikatae/smik/genome/chrom_smik.sizes"
      bwaIndex      = "${params.genomeAnnotationPath}/Saccharomyces_mikatae/smik/indexes/bwa/sac_mikatae_ultrascaffolds"
      starIndex     = "${params.genomeAnnotationPath}/Saccharomyces_mikatae/smik/indexes/STAR_2.7.6a/"
      bowtie2Index  = "${params.genomeAnnotationPath}/Saccharomyces_mikatae/smik/indexes/bowtie2/sac_mikatae_ultrascaffolds"
      geneBed       = ""
      gtf           = ""
      effGenomeSize = "11445471"
    }

    'bomoV3_base' {
      fasta         = "${params.genomeAnnotationPath}/Bombyx_mori/bomo_v3_base/genome/Bmori_v3_base.fasta"
      chrsize       = "${params.genomeAnnotationPath}/Bombyx_mori/bomo_v3_base/genome/chrom_bombyx.sizes"
      bwaIndex      = "${params.genomeAnnotationPath}/Bombyx_mori/bomo_v3_base/indexes/bwa/Bmori_v3_base"
      starIndex     = "${params.genomeAnnotationPath}/Bombyx_mori/bomo_v3_base/indexes/STAR_2.7.6a/"
      bowtie2Index  = "${params.genomeAnnotationPath}/Bombyx_mori/bomo_v3_base/indexes/bowtie2/Bmori_v3_base"
      geneBed       = "${params.genomeAnnotationPath}/Bombyx_mori/bomo_v3_base/gtf/Bmori_v3_base_gene.bed"
      gtf           = "${params.genomeAnnotationPath}/Bombyx_mori/bomo_v3_base/gtf/Bmori_v3_base.gtf"
      effGenomeSize = "4661492"
    }

    'LF82' {
      fasta          = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/genome/Escherichia_coli_lf82.ASM28449v1.dna.toplevel.fa"
      chrsize        = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/genome/chrom_ecoli_LF82.sizes"
      bwaIndex       = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/indexes/bwa/Escherichia_coli_lf82.ASM28449v1.dna.toplevel"
      starIndex      = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/indexes/STAR_2.7.6a/"
      bowtie2Index   = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/indexes/bowtie2/Escherichia_coli_lf82.ASM28449v1.dna.toplevel"
      geneBed        = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/gtf/Escherichia_coli_lf82.ASM28449v1.47_proteinCoding_gene.bed"
      gtf            = "${params.genomeAnnotationPath}/Escherichia_coli/LF82/gtf/Escherichia_coli_lf82.ASM28449v1.47.gtf"
      effGenomeSize  = "4773108"
    }
 
    'MG1655' {
      fasta          = "${params.genomeAnnotationPath}/Escherichia_coli/MG1655/genome/Escherichia_coli_str_k_12_substr_mg1655.ASM584v2.dna.toplevel.fa"
      chrsize        = "${params.genomeAnnotationPath}/Escherichia_coli/MG1655/genome/chrom_ecoli_MG1655.sizes"
      bwaIndex       = "${params.genomeAnnotationPath}/Escherichia_coli/MG1655/indexes/bwa/Escherichia_coli_str_k_12_substr_mg1655.ASM584v2.dna.toplevel"
      starIndex      = "${params.genomeAnnotationPath}/Escherichia_coli/MG1655/indexes/STAR_2.7.6a/"
      bowtie2Index   = "${params.genomeAnnotationPath}/Escherichia_coli/MG1655/indexes/bowtie2/Escherichia_coli_str_k_12_substr_mg1655.ASM584v2.dna.toplevel"
      geneBed        = "${params.genomeAnnotationPath}/Escherichia_coli/MG1655/gtf/Escherichia_coli_str_k_12_substr_mg1655.ASM584v2.48_proteinCoding_gene.bed"
      gtf            = "${params.genomeAnnotationPath}/Escherichia_coli/MG1655/gtf/Escherichia_coli_str_k_12_substr_mg1655.ASM584v2.48.gtf"
      effGenomeSize  = "4641652"
    }
  }
}
