/*
 * Define modules options
 */


process {

  // Default
  publishDir = [
    path: { "${params.outDir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
    mode: 'copy',
    saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
  ]

  withName:'bigWig' {
    publishDir = [
      path: { "${params.outDir}/bigWig" },
      mode: 'copy',
      pattern: "*.bigwig"
    ]
    ext.args = '--normalizeUsing CPM --skipNonCoveredRegions'
  }

  withName:'mappingRef' {
    publishDir = [
      [
        path: { "${params.outDir}/mapping" },
	mode: 'copy',
	pattern: "*.bam",
	enabled: params.saveAlignedIntermediates
      ],
      [
        path: { "${params.outDir}/mapping/logs" },
	mode: 'copy',
	pattern: "*.log"
      ]
    ]
    ext.args = [
      params.bwaOpts && params.aligner == 'bwa-mem' ? params.bwaOpts : '',
      params.bowtie2Opts && params.aligner == 'bowtie2' ? params.bowtie2Opts : '',
      params.starOpts && params.aligner == 'star' ? params.starOpts : ''
    ].join(' ').trim()
  }

  withName:'mappingSpike' {
    publishDir = [
      [
        path: { "${params.outDir}/spike" },
	mode: 'copy',
	pattern: "*.bam",
	enabled: params.saveAlignedIntermediates
      ],
      [
        path: { "${params.outDir}/spike/logs" },
	mode: 'copy',
	pattern: "*.log"
      ]
    ]
    ext.args = [
      params.bwaOpts && params.aligner == 'bwa-mem' ? params.bwaOpts : '',
      params.bowtie2Opts && params.aligner == 'bowtie2' ? params.bowtie2Opts : '',
      params.starOpts && params.aligner == 'star' ? params.starOpts : ''
    ].join(' ').trim()
  }

  withName:'compareBams' {
    publishDir = [
      [
        path: { "${params.outDir}/spike" },
	mode: 'copy',
	pattern: "*.bam"
      ],
      [
        path: { "${params.outDir}/spike/logs" },
	mode: 'copy',
	pattern: "*.log"
      ]
    ]
  }

  withName:'epic2' {
    publishDir = [
      path: { "${params.outDir}/peakCalling/verybroad" },
      mode: 'copy'
    ]
    ext.args = "--SPMR --trackline --bdg --keep-dup all"
    ext.args = [
      params.singleEnd && params.fragmentSize > 0 ? "--fragment-size ${params.fragmentSize}" : "",
      "-a --bin-size 200 --gaps-allowed 3 --false-discovery-rate-cutoff 0.05",
    ].join(' ').trim()
  }

  withName:'fastqc' {
    publishDir = [
      [
        path: { "${params.outDir}/fastqc/zips/" },
        mode: 'copy',
        pattern: "*.zip"
      ],
      [
        path: { "${params.outDir}/fastqc" },
	mode: "copy",
        saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
      ]
    ]
  }


  withName:'featureCounts' {
    publishDir = [
      [
        path: { "${params.outDir}/counts/summaries" },
        mode: 'copy',
        pattern: "*summary"
      ],
      [
        path: { "${params.outDir}/counts/" },
        mode: 'copy',
        pattern: "*counts.csv"
      ]
    ]
    ext.args = params.singleEnd ? '' : '-p -C -B'
  }


  withName:'getSoftwareVersions' {
    publishDir = [
      path: { "${params.outDir}/softwareVersions" },
      mode: 'copy'
    ]
  }

  withName:'markDuplicates' {
    publishDir = [
      [
        path: { "${params.outDir}/markDuplicates" },
        mode: 'copy',
        pattern: "*markDups.bam",
        enabled: params.saveAlignedIntermediates
      ],
      [
        path: { "${params.outDir}/markDuplicates/metrics" },
        mode: 'copy',
        pattern: '*metrics.txt'
      ]
    ]
    ext.args = params.tmpDir ? "-Djava.io.tmpdir=${params.tmpDir}" : ''
  }

  withName:'macs2Sharp' {
    publishDir = [
        path: { "${params.outDir}/peakCalling/sharp" },
        mode: 'copy'
    ]
    ext.args = "--SPMR --trackline --bdg --keep-dup all"
  }

  withName:'macs2Broad' {
    publishDir = [
        path: { "${params.outDir}/peakCalling/broad" },
        mode: 'copy'
    ]
    ext.args = [
      "--broad --SPMR --trackline --bdg --keep-dup all",
      params.broadCutoff ? "--broad-cutoff ${params.broadCutoff}" : ''
    ].join(' ').trim()
  }

  withName:'outputDocumentation' {
    publishDir = [
      path: { "${params.summaryDir}" },
      mode: 'copy'
    ]
  }

  withName: 'samtoolsSort' {
    publishDir = [
      path: { "${params.outDir}/mapping" },
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
    ext.args = params.sortMaxMemory ? "-m ${params.sortMaxMemory}" : ''
  }

  withName: 'samtoolsIndex' {
    publishDir = [
      path: { "${params.outDir}/mapping" },
      mode: 'copy',
      pattern: '*.bai'
    ]
  }

  withName: 'samtoolsFilter' {
    publishDir = [
      path: { "${params.outDir}/mapping" },
      mode: 'copy',
      pattern: "*.bam"
    ]
    ext.args = [
      params.singleEnd ? "-F 0x004" : params.keepSingleton ? "-F 0x004" : "-F 0x004 -F 0x0008 -f 0x001",
      params.keepDups ? "" : "-F 0x0400",
      params.mapq > 0 ? "-q ${params.mapq}" : ""
    ].join(' ').trim()
  }

  withName: 'samtoolsFlagstat' {
    publishDir = [
      path: {"$params.outDir/mapping"},
      mode: 'copy',
      saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
    ]
  }

/*
  withName: 'starAlign' {
    publishDir = [
      [
        path: { "${params.outDir}/mapping" },
        mode: 'copy',
        pattern: "*.bam",
        enabled: params.saveAlignedIntermediates
      ],
      [
        path: { "${params.outDir}/mapping/logs" },
        mode: 'copy',
        pattern: "*out"
      ]
    ]
    ext.args = params.starOpts ? : ''
  }
*/
}