singularity {
  enable = false
}

docker {
  enable = false
}

process {
  withLabel:python { beforeScript = "export PATH=${params.profilePath}/python/bin:$PATH" }
  withLabel:fastqc { beforeScript = "export PATH=${params.profilePath}/fastqc/bin:$PATH" }
  withLabel:bwa { beforeScript = "export PATH=${params.profilePath}/bwa/bin:$PATH" }
  withLabel:bowtie2 { beforeScript = "export PATH=${params.profilePath}bowtie2/bin:$PATH" } 
  withLabel:star { beforeScript = "export PATH=${params.profilePath}/star/bin:$PATH" } 
  withLabel:samtools { beforeScript = "export PATH=${params.profilePath}/samtools/bin:$PATH" } 
  withLabel:picard { beforeScript = "export PATH=${params.profilePath}/picard/bin:$PATH" } 
  withLabel:preseq { beforeScript = "export PATH=${params.profilePath}/preseq/bin:$PATH" } 
  withLabel:r { beforeScript = "export PATH=${params.profilePath}/r/bin:$PATH" } 
  withLabel:deeptools { beforeScript = "export PATH=${params.profilePath}/deeptools/bin:$PATH" } 
  withLabel:macs2 { beforeScript = "export PATH=${params.profilePath}/macs2/bin:$PATH" } 
  withLabel:homer { beforeScript = "export PATH=${params.profilePath}/homer/bin:$PATH" } 
  withLabel:idr { beforeScript = "export PATH=${params.profilePath}/idr/bin:$PATH" } 
  withLabel:featureCounts { beforeScript = "export PATH=${params.profilePath}/featureCounts/bin:$PATH" } 
  withLabel:multiqc { beforeScript = "export PATH=${params.profilePath}/multiqc/bin:$PATH" } 
}