conda {
  cacheDir = "${params.condaCacheDir}"
  createTimeout = '1 h'
}

process {

  beforeScript = "export R_LIBS_USER=\"-\"; export R_PROFILE_USER=\"-\"; export R_ENVIRON_USER=\"-\"; export PYTHONNOUSERSITE=1; export PATH=$PATH:${projectDir}/bin/fromSource"

  withLabel:bowtie2{ conda = "${params.geniac.tools?.bowtie2}" }
  withLabel:bwa{ conda = "${params.geniac.tools?.bwa}" }
  withLabel:compbam{ conda = "${params.geniac.tools?.compbam}" }
  withLabel:deeptools{ conda = "${params.geniac.tools?.deeptools}" }
  withLabel:epic2{ conda = "${params.geniac.tools?.epic2}" }
  withLabel:fastqc{ conda = "${params.geniac.tools?.fastqc}" }
  withLabel:featureCounts{ conda = "${params.geniac.tools?.featureCounts}" }
  withLabel:homer{ conda = "${params.geniac.tools?.homer}" }
  withLabel:idr{ conda = "${params.geniac.tools?.idr}" }
  withLabel:macs2{ conda = "${params.geniac.tools?.macs2}" }
  withLabel:multiqc{ conda = "${params.geniac.tools?.multiqc}" }
  withLabel:picard{ conda = "${params.geniac.tools?.picard}" }
  withLabel:ppqt{ conda = "${params.geniac.tools?.ppqt}" }
  withLabel:preseq{ conda = "${params.geniac.tools?.preseq}" }
  withLabel:python{ conda = "${params.geniac.tools?.python}" }
  withLabel:r{ conda = "${params.geniac.tools?.r}" }
  withLabel:samtools{ conda = "${params.geniac.tools?.samtools}" }
  withLabel:star{ conda = "${params.geniac.tools?.star}" }
  withLabel:unix{ conda = "${params.geniac.tools?.unix}" }
}
