includeConfig 'process.config'
conda { cacheDir = "${params.condaCacheDir}" }
process {
    withLabel:fastqc { conda = "${baseDir}/recipes/conda/fastqc.yml" }
    withLabel:bwa { conda = "${baseDir}/recipes/conda/bwa.yml" }
    withLabel:bowtie2 { conda = "${baseDir}/recipes/conda/bowtie2.yml" } 
    withLabel:star { conda = "${baseDir}/recipes/conda/star.yml" } 
    withLabel:compbam { conda = "${baseDir}/recipes/conda/compbam.yml" }
    withLabel:samtools { conda = "${baseDir}/recipes/conda/samtools.yml" } 
    withLabel:picard { conda = "${baseDir}/recipes/conda/picard.yml" } 
    withLabel:preseq { conda = "${baseDir}/recipes/conda/preseq.yml" } 
    withLabel:r { conda = "${baseDir}/recipes/conda/r.yml" } 
    withLabel:deeptools { conda = "${baseDir}/recipes/conda/deeptools.yml" } 
    withLabel:macs2 { conda = "${baseDir}/recipes/conda/macs2.yml" } 
    withLabel:homer { conda = "${baseDir}/recipes/conda/homer.yml" } 
    withLabel:idr { conda = "${baseDir}/recipes/conda/idr.yml" } 
    withLabel:featureCounts { conda = "${baseDir}/recipes/conda/featureCounts.yml" } 
    withLabel:unix { conda = "${baseDir}/recipes/conda/unix.yml" }
    withLabel:multiqc { conda = "${baseDir}/recipes/conda/multiqc.yml" } 
}