singularity {
  enable = false
}

docker {
  enable = false
}

process {
  withLabel:python { beforeScript = "export PATH=${params.globalPath}/python/bin:$PATH" }
  withLabel:fastqc { beforeScript = "export PATH=${params.globalPath}/fastqc/bin:$PATH" }
  withLabel:bwa { beforeScript = "export PATH=${params.globalPath}/bwa/bin:$PATH" }
  withLabel:bowtie2 { beforeScript = "export PATH=${params.globalPath}bowtie2/bin:$PATH" } 
  withLabel:star { beforeScript = "export PATH=${params.globalPath}/star/bin:$PATH" } 
  withLabel:samtools { beforeScript = "export PATH=${params.globalPath}/samtools/bin:$PATH" } 
  withLabel:picard { beforeScript = "export PATH=${params.globalPath}/picard/bin:$PATH" } 
  withLabel:preseq { beforeScript = "export PATH=${params.globalPath}/preseq/bin:$PATH" } 
  withLabel:r { beforeScript = "export PATH=${params.globalPath}/r/bin:$PATH" } 
  withLabel:ppqt { beforeScript = "export PATH=${params.globalPath}/ppqt/bin:$PATH" }
  withLabel:deeptools { beforeScript = "export PATH=${params.globalPath}/deeptools/bin:$PATH" } 
  withLabel:macs2 { beforeScript = "export PATH=${params.globalPath}/macs2/bin:$PATH" } 
  withLabel:homer { beforeScript = "export PATH=${params.globalPath}/homer/bin:$PATH" } 
  withLabel:idr { beforeScript = "export PATH=${params.globalPath}/idr/bin:$PATH" } 
  withLabel:featureCounts { beforeScript = "export PATH=${params.globalPath}/featureCounts/bin:$PATH" } 
  withLabel:multiqc { beforeScript = "export PATH=${params.globalPath}/multiqc/bin:$PATH" } 
}