includeConfig 'process.config'

singularity {
  enable = false
}

docker {
  enable = false
}

process {
    withLabel:fastqc { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" }
    withLabel:bwa { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" }
    withLabel:bowtie2 { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
    withLabel:star { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
    withLabel:samtools { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
    withLabel:picard { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
    withLabel:preseq { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
    withLabel:r { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
    withLabel:deeptools { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
    withLabel:macs2 { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
    withLabel:homer { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
    withLabel:idr { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
    withLabel:featureCounts { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
    withLabel:multiqc { beforeScript = "export PATH=${params.containers.beforescriptPath}:$PATH" } 
}