def checkProfileSingularity(path){
  if (new File(path).exists()){
    File directory = new File(path)
    def contents = []
    directory.eachFileRecurse (groovy.io.FileType.FILES) { file -> contents << file }
    if (!path?.trim() || contents == null || contents.size() == 0){
      println "   ### ERROR ###    The option '-profile singularity' requires the singularity images to be installed on your system. See  for advanced usage."
      System.exit(-1)
    }
  }else{
    println "   ### ERROR ###    The option '-profile singularity' requires the singularity images to be installed on your system. See  for advanced usage."
    System.exit(-1)
  }
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "${params.geniac.containers.singularityRunOptions}"
}

process {
  checkProfileSingularity("${params.geniac.singularityImagePath}")
  withLabel:onlyLinux { container = "${params.geniac.singularityImagePath}/onlylinux.simg" }
  withLabel:compbam { container = "${params.geniac.singularityImagePath}/compbam.simg" }
  withLabel:fastqc { container = "${params.geniac.singularityImagePath}/fastqc.simg" }
  withLabel:preseq { container = "${params.geniac.singularityImagePath}/preseq.simg" }
  withLabel:picard { container = "${params.geniac.singularityImagePath}/picard.simg" }
  withLabel:samtools { container = "${params.geniac.singularityImagePath}/samtools.simg" }
  withLabel:bwa { container = "${params.geniac.singularityImagePath}/bwa.simg" }
  withLabel:star { container = "${params.geniac.singularityImagePath}/star.simg" }
  withLabel:bowtie2 { container = "${params.geniac.singularityImagePath}/bowtie2.simg" }
  withLabel:r { container = "${params.geniac.singularityImagePath}/r.simg" }
  withLabel:ppqt { container = "${params.geniac.singularityImagePath}/ppqt.simg" }
  withLabel:macs2 { container = "${params.geniac.singularityImagePath}/macs2.simg" }
  withLabel:deeptools { container = "${params.geniac.singularityImagePath}/deeptools.simg" }
  withLabel:multiqc { container = "${params.geniac.singularityImagePath}/multiqc.simg" }
  withLabel:unix { container = "${params.geniac.singularityImagePath}/unix.simg" }
  withLabel:featureCounts { container = "${params.geniac.singularityImagePath}/featurecounts.simg" }
  withLabel:idr { container = "${params.geniac.singularityImagePath}/idr.simg" }
  withLabel:epic2 { container = "${params.geniac.singularityImagePath}/epic2.simg" }
  withLabel:homer { container = "${params.geniac.singularityImagePath}/homer.simg" }
  withLabel:python { container = "${params.geniac.singularityImagePath}/python.simg" }
}
