includeConfig 'process.config'

singularity { 
  enable = true
  autoMounts = true
  runOptions = "${params.containers.singularityRunOptions}"
}

process {
    withLabel:fastqc { container = "${params.containers.singularityImagePath}/fastqc.simg" }
    withLabel:bwa { container = "${params.containers.singularityImagePath}/bwa.simg" }
    withLabel:bowtie2 { container = "${params.containers.singularityImagePath}/bowtie2.simg" } 
    withLabel:star { container = "${params.containers.singularityImagePath}/star.simg" } 
    withLabel:samtools { container = "${params.containers.singularityImagePath}/samtools.simg" } 
    withLabel:picard { container = "${params.containers.singularityImagePath}/picard.simg" } 
    withLabel:preseq { container = "${params.containers.singularityImagePath}/preseq.simg" } 
    withLabel:r { container = "${params.containers.singularityImagePath}/chipseq-r.simg" } 
    withLabel:deeptools { container = "${params.containers.singularityImagePath}/deeptools.simg" } 
    withLabel:macs2 { container = "${params.containers.singularityImagePath}/macs2.simg" } 
    withLabel:homer { container = "${params.containers.singularityImagePath}/homer.simg" } 
    withLabel:idr { container = "${params.containers.singularityImagePath}/idr.simg" } 
    withLabel:featureCounts { container = "${params.containers.singularityImagePath}/featureCounts.simg" } 
    withLabel:multiqc { container = "${params.containers.singularityImagePath}/multiqc.simg" } 
}