def checkProfileSingularity(path){
  if (new File(path).exists()){
    File directory = new File(path)
    def contents = []
    directory.eachFileRecurse (groovy.io.FileType.FILES){ file -> contents << file }
    if (!path?.trim() || contents == null || contents.size() == 0){
      System.out.println "   ### ERROR ###    The option '-profile singularity' requires the singularity images to be installed on your system. See `--singularityImagePath` for advanced usage."
      System.exit(-1)
    }
  }else{
    System.out.println "   ### ERROR ###    The option '-profile singularity' requires the singularity images to be installed on your system. See `--singularityImagePath` for advanced usage."
    System.exit(-1)
  }
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--containall ${(params.geniac.containers?.singularityRunOptions ?: '').replace('-C', '').replace('--containall', '')}"
}

process {
  checkProfileSingularity("${params.geniac.singularityImagePath}")
  withLabel:compbam { container = "${params.geniac.singularityImagePath}/compbam.sif" }
  withLabel:fastqc { container = "${params.geniac.singularityImagePath}/fastqc.sif" }
  withLabel:preseq { container = "${params.geniac.singularityImagePath}/preseq.sif" }
  withLabel:picard { container = "${params.geniac.singularityImagePath}/picard.sif" }
  withLabel:samtools { container = "${params.geniac.singularityImagePath}/samtools.sif" }
  withLabel:bwa { container = "${params.geniac.singularityImagePath}/bwa.sif" }
  withLabel:star { container = "${params.geniac.singularityImagePath}/star.sif" }
  withLabel:bowtie2 { container = "${params.geniac.singularityImagePath}/bowtie2.sif" }
  withLabel:r { container = "${params.geniac.singularityImagePath}/r.sif" }
  withLabel:ppqt { container = "${params.geniac.singularityImagePath}/ppqt.sif" }
  withLabel:macs2 { container = "${params.geniac.singularityImagePath}/macs2.sif" }
  withLabel:deeptools { container = "${params.geniac.singularityImagePath}/deeptools.sif" }
  withLabel:multiqc { container = "${params.geniac.singularityImagePath}/multiqc.sif" }
  withLabel:unix { container = "${params.geniac.singularityImagePath}/unix.sif" }
  withLabel:featurecounts { container = "${params.geniac.singularityImagePath}/featurecounts.sif" }
  withLabel:idr { container = "${params.geniac.singularityImagePath}/idr.sif" }
  withLabel:epic2 { container = "${params.geniac.singularityImagePath}/epic2.sif" }
  withLabel:homer { container = "${params.geniac.singularityImagePath}/homer.sif" }
  withLabel:python { container = "${params.geniac.singularityImagePath}/python.sif" }
}
