/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/chipseq -profile test
 */

params {
  // Limit resources so that this can run on Travis
  maxCpus = 4
  maxMemory = 8.GB
  maxTime = 2.h

  genomeAnnotationPath = "/data/annotations/pipelines"

  // Input data
  singleEnd = true
  samplePlan = "$baseDir/test-op/samplePlan.csv"
  design = "$baseDir/test-op/design.csv"
  genome = 'hg38'
  preseqDefect = true
}
