/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */

params {

  // Limit resources so that this can run on Travis
  //maxCpus = 4
  //maxMemory = 8.GB
  //maxTime = 2.h

  // Input data
  singleEnd = true
  readPaths = [
    ['A949C02', ["$projectDir/test/data/A949C02_chr2122.R1.fq.gz"]],
    ['A949C08', ["$projectDir/test/data/A949C08_chr2122.R1.fq.gz"]],
    ['A949C11', ["$projectDir/test/data/A949C11_chr2122.R1.fq.gz"]]
  ]

  //samplePlan = "$projectDir/test/samplePlanBam.csv"

  design = "${projectDir}/test/design.csv"
  spike = 'dmelr6.21'
  genome = 'hg38'
  preseqDefect = true
}
