/*
 * Institut Curie configuration profile
 * Edit your own configurations to use the pipeline on your infrastructure
 */

/*
 * -------------------------------------------------
 * Define tools path for `-profile toolsPath`
 * -------------------------------------------------
 */
singularity {
  enabled = false 
}

params {
   toolsPath = "/data/users/vlaroche/.conda/envs/chipseq_pipeline/bin"
}

process {
  		beforeScript = "export PATH=${params.toolsPath}:$PATH"
}
